@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.post-box{
display: grid;
grid-template-areas:
"p"
"c"
"f";
margin-top: 2vh;
margin-left: 20vh;
margin-right: 20vh;
justify-items: center;
border:2px solid black;
font-family: 'Cabin', sans-serif;
}

.navbar{
    font-family: 'Cabin', sans-serif;  
    display: block;
    color:black;
    background-color: white;
    text-decoration: none;
}
.post-image{
    height: 63vh;
}

.about{
    text-align: justify;
  text-justify: inter-word;
}
.avatar{
    border-radius: 50%;
    height: 4vh;
}

.next-post{
 justify-items: right;   
}
.ingredients{
    display:inline;
    justify-items: left;
    list-style-position:inside;
}

.post-header{
grid-area: p;
border: 2px solid green;
}

.post-content{
grid-area: c;
border: 2px solid yellow;
}

.footer{
grid-area: f;
border: 2px solid orange;
}