
/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    .container {
        grid-gap:15px;
        grid-template-areas:
             "h h h h h h"
             "t t t t t t"
             "c c c c c c"
             "f f f f f f";

     }

 .recent-posts{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2,1fr);
    align-content: center;
    border: 2px solid green;
     }
    
   .title{
    
      background-image: url("images/banner1medium.jpg");
  
  }
  .post-box{
    margin:2vh;
    display: grid;
    grid-template-areas:
    "h h "
    "i s "
    "a a "
    "in m"
    "ab ab"
    "n n"
    "f f ";
    }
}



/* Portrait and Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

  .container {
    
      grid-gap:15px;
      grid-template-areas:
           "h h h h "
           "t t t t"
           "t t t t"
           "c c c c"
           "f f f f";

     }

 .recent-posts{
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows:repeat(2,1fr);
      align-content: center;
      align-items: center;
      justify-content: center;
      border: 2px solid blue;
     }

    .title{
       
        background-image: url("images/banner1.jpg");
       
      }
  
     .post-box{
      display: grid;
      grid-template-areas:
      "h h "
      "i s "
      "a a "
      "in m"
      "ab ab"
      "n n"
      "f f ";
      
      }

}

       /* Portrait and Landscape */
/* ----------- iPad ----------- */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1023px) 
and (-webkit-min-device-pixel-ratio: 1) {

  .container {
   
      grid-gap:15px;
      grid-template-areas:
           "h h h h "
           "t t t t"
           "c c c c"
           "f f f f";

      }

  .recent-posts{
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows:repeat(2,1fr);
      align-content: center;
      align-items: center;
      justify-content: center;
      border: 2px solid yellow;
      }

   .title{
      
        background-image: url("images/banner1medium.jpg");
    
     }
     .post-box{
      margin:2vh;
      display: grid;
      grid-template-areas:
      "h h "
      "i s"
      "a a "
      "in m"
      "ab ab "
      "n n"
      "f f";
      }
  }  
  /* Large Screens */
@media (min-width:901px) and (max-width:1200px) { 
  .container {
      grid-gap:15px;
      grid-template-areas:
           "h h h h h h"
           "t t t t t t"
           "c c c c c c"
           "f f f f f f";

      }
  .recent-posts{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2,1fr);
    align-content: center;
    align-items: center;
    justify-content: center;
      }

 .title{
     
      background-image:url("images/banner1.jpg");
    
       }
       .post-box{
        margin:2vh;
        display: grid;
        grid-template-areas:
        "h h "
        "i s "
        "a a "
        "in m"
        "ab ab"
        "n n"
        "f f ";
        }
        

  }
  /* Ever larger Screens */
  @media (min-width:1200px){
    .container {
       
         grid-gap:15px;
         grid-template-areas:
              "h h h h "
              "t t t t "
              "c c c c "
              "f f f f ";
         }

     .recent-posts{
       display: grid;
       grid-gap: 15px;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows:repeat(2,1fr);
       align-content: center;
       align-items: center;
       justify-content: center;
         }
   
     .title{
       
         background-image:url("images/banner1.jpg");
         
         }
   
      
            .post-box{
              margin:2vh;
              display: grid;
              grid-template-areas:
              "h h"
              "i s "
              "a a"
              "in m"
              "ab ab"
              "n n"
              "f f";
            margin-left: 20vh;
            margin-right: 20vh;
              }
            
  }